@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* width */
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #FFF;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #CCC;
    border-radius: 100vh;
    border: 2px solid #FFF;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #AAA;
  }

  /* width */
  .dark ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  /* Track */
  .dark ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #374151;
  }

  /* Handle */
  .dark ::-webkit-scrollbar-thumb {
    background: #6b7280;
    border-radius: 100vh;
    border: 2px solid #374151;
  }

  /* Handle on hover */
  .dark ::-webkit-scrollbar-thumb:hover {
    background: #7a8294;
  }
}
